#services2 {
  background: linear-gradient(135deg, #113555 25%, #296599 50%, #4b8dc7 100%);
  padding: 3rem 2rem;
  border-radius: 8px;
  margin-top: 20px;

  h2 {
    font-size: 1.4rem;
    color: #cfe8ff;
    margin-bottom: 2rem;
    text-align: center;

  }
}

  .service-list-ul {
    position: relative;
    overflow: hidden;
  
  }
  
  @media (max-width: 400px) {
    #services2 {
      padding: 2rem 1rem;
  
      h2 {
        font-size: 1.3rem;
        margin-bottom: 1.2rem;
      }
    }
  
    .service-list-ul {
      padding: 1.5rem 1rem;
      gap: 1rem;
    }
  
    .service-list-ul li {
      font-size: 0.95rem;
  
      .check {
        width: 22px;
        height: 22px;
      }
    }
  }
  li {
    display: flex;
    margin-bottom: 1rem;
  
    .icon-column {
      width: 28px;
      flex-shrink: 0;

    }
  
    .text-column {
      padding-left: 0.30rem; // 👈 mais colado ao ícone
      line-height: 1.2;
    }
    
  
    span {
      color: #cfe8ff;
      font-weight: 600;
      font-size: 1rem;
  
      @media (max-width: 400px) {
        font-size: 0.95rem;
      }
    }
  }
  @media (min-width: 768px) {
    li {

  
      .icon-column {
        margin-top: 0;
      }
  
      .text-column {
        padding-left: 0.25rem; // 👈 espaçamento reduzido aqui
        line-height: 1.2;
      }
  
      span {
        font-size: 1.05rem;
      }
    }
  }

  
  