.services-checklist {
    background: linear-gradient(135deg, #031e36 25%, #103e66 50%, #558bc2 100%);
    color: #d1d5db;
    padding: 3rem 2rem;
    border-radius: 8px;
    text-align: center;
  
    h2 {
      font-size: 1.8rem;
      color: #cfe8ff;
      margin-bottom: 2rem;
      font-weight: bold;
      text-transform: uppercase;
    }
  
    ul {
      list-style: none;
      
  
      li {
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        margin-bottom: 1.5rem;
        line-height: 1.5;

  
        .check {
          display: inline-block;
          width: 28px;
          height: 28px;
          margin-right: 1rem;
          margin-bottom: 1rem;
          mask-size: contain;
          -webkit-mask-size: contain;
        }
      }
    }
  }
  