.heroSection {
  display: flex;
  align-items: center;
  background: linear-gradient(to bottom, #002f4b, #005c97);
  color: #fff;
  text-align: center;
}
@media(min-width: 768){
  .heroSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 600px;
    padding: 6rem;
    background: linear-gradient(to bottom, #002f4b, #005c97);
    color: #fff;
    text-align: center;
  }
}

.textContainer {
  margin-bottom: 2rem;

  .subtitle {
    font-size: 1.2rem;
    margin-top: 1rem;
    color: #cfe8ff;
  }

  .button {
    margin-top: 1.5rem;
    padding: 0.75rem 1.5rem;
    background-color: #00aaff;
    border: none;
    border-radius: 0.5rem;
    font-weight: bold;
    color: white;
    cursor: pointer;

    &:hover {
      background-color: #008cd1;
    }
  }
}

.imageContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.videoWrapper {
  width: 100%;
  max-width: 600px;
  padding: 0 1rem;
}

.video {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 0.5rem;
  max-height: 350px;
}

/* Responsivo */
@media (max-width: 600px) {
  .textContainer .subtitle {
    font-size: 1rem;
  }

  .textContainer .button {
    font-size: 0.9rem;
  }

  .video {
    max-height: 250px;
  }
}
