.serviceGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
  }
  
  .serviceCardWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 40%;
    
  }
  