.serviceGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
  }
  
  .serviceCardWrapper {
    flex: 1 1 40%;
    max-width: 40%;
    min-width: 300px;
  
    @media (max-width: 768px) {
      flex: 1 1 100%;
      max-width: 100%;
    }
  }
  