/* Reset básico não é necessário, pois Tailwind já cuida disso */
@use '../scss/styles.scss' as *;

/* Estilos gerais */
header {
  display: flex;
  text-align: left;
  padding: 2rem 1rem;

}

header h1 {
  font-size: 2.5rem;
  text-transform: uppercase;
}

header p {
  font-size: 1.2rem;
  margin-top: 0.5rem;
}

section {
  padding: 3rem 2rem;
  text-align: center;
}

/* Rodapé */
footer {
  background: #011e3b;
  color: white;
  text-align: center;
  padding: 1.5rem;
  margin-top: 2rem;
}