/* Reset básico não é necessário, pois Tailwind já cuida disso */
@use '../scss/styles.scss' as *;
@use "../scss/variables/colors" as *;
@use "../scss/variables/typography.scss" as *;
@import 'leaflet/dist/leaflet.css';

*{
  font-family: '$font-family-base';
  
}
/* Estilos gerais */
header {
  display: flex;
  text-align: left;
  padding: 2rem 1rem;

}

header h1 {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-family: '$headings-font-family';
}

header p {
  font-size: 1.2rem;
  margin-top: 0.5rem;
  font-family: '$headings-font-family';
}

section {
  padding: 3rem 2rem;
  text-align: center;
}

/* Rodapé */
footer {
  background: #011e3b;
  color: white;
  text-align: center;
  padding: 1.5rem;
  margin-top: 2rem;
}

  .whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    padding: 10px;
    transition: transform 0.2s ease-in-out;
  }

  .whatsapp-button:hover {
    transform: scale(1.1);
  }

  .icon-hover {
    display: inline-block;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .icon-hover:hover {
    transform: translateY(-5px) scale(1.1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }
  
  .sloganSection{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .service-list-ul{
    background: linear-gradient(135deg,rgb(31, 42, 51) 25%,rgb(10, 22, 32) 50%,rgb(1, 7, 12) 100%);
    border: 1px solid;
    border-radius: 30px;

  }

  .reviewSection{
    display: contents;
  }